{% load static %}
<html>

    <head>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>

    <body>
        <nav>
            <a class="brand">LITReview</a>
            {% if user.is_authenticated %}

                <div class="nav-links">    

                    <a href="{% url 'home' %}">Flux</a>
                    <a href="{% url 'home' %}">Posts</a>
                    <a href="{% url 'follow-users' %}">Abonnements</a>

                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
        
                    <a href="#" onclick="document.getElementById('logout-form').submit();">Se déconnecter</a>
                    
                </div>
                
                {% endif %}
        </nav>

        
        {% block content %}{% endblock content %}
    </body>

</html>
